.project-container{
    margin-right:17em;
    margin-left:17em;
    padding-top:8em;
    padding-bottom:8em;
    height:calc(100vh);
    transition:0.5s;

}
/*
.project-container:hover{
    transform:scale(1.01);
}*/
  /**********************/

  .project-text{
    text-align: left;
    padding:2em;
    width:calc(100% - 200px);
    float:right;
    transition:0.5s;
}

.codetag{
    height:1em,;
    margin-left:0.4em;
    margin-right:0.4em;
    margin-bottom:0.8em;
    padding:0.5em;
    font-size:12px;
    background-color:none;
    border: solid 1px
}

.li-desc{
    margin:1em;
}

.proj-title{
    font-family: Nomark;
    
    

    font-family: Raleway, sans-serif;
    font-weight:900;
    font-size:2em;


}

.proj-row{
    margin-left:0em;
}

.project-slide{
    position: absolute;
    width:100vw;
    height: 100vh;
    background-color:#191D34;
    transition: 0.5s;
    

  }
.project-image{
    width:200px;
    height:100%;
    float:left;
    background-color:none;
    

}


.carousel-indicators li {
    border-radius: 50%;
    width: 0.7em;
    height:0.7em;
    margin: 0 2vw 0 2vw;
    background-color: rgba(70, 70, 70, 0.25);
    transition: 0.5s;
  }

  .carousel-indicators .active {
    border-radius: 50%;
    width: 0.7em;
    height:0.7em;
    margin: 0 2vw 0 2vw;
    background-color: #ffc526;
    transition: 0.5s;
  }

  @media only screen and (min-width:2000px){
    .proj-title{
        font-size:5vh;
       
    }
    
    
    .codetag{
    
        font-size:calc(1vh + 1vw);
        padding:0.5vh;
    }
    
    .li-desc{
        font-size:2vh;
    }

    .project-image{
        width:30%
    }

    .project-text{
        width:calc(70%);
        padding:0.5em;
        font-size:2vh;
    }

    .project-container{
        padding-top:10%;
        padding-bottom:20%;
        padding-right:5%;
        padding-left: 5%;

    }

    .carousel-indicators li {
    
        width:3em;
        height:3em;
        margin:3em;
        
      }

      .carousel-indicators .active {
        width:3em;
        height:3em;
        margin:3em;
      }
    
    
  }




@media only screen and (max-width: 1200px) and (min-width:900px) {
    /* For desktop: */
    .project-container{
        margin-right:7em;
        margin-left:7em;
    }
  }

  .project-carousel{
    
  
  }



  @media only screen and (max-width: 900px) {
    /* For desktop: */
    .project-container{
        margin-right:1em;
        margin-left:1em;
    }
    
  }

  @media only screen and (max-width:600px){
    .proj-title{
        font-size:1.5em;
    }
    
    
    .codetag{
    
        font-size:10px;
    }
    
    .li-desc{
        font-size:14px;
    }

    .project-image{
        width:100px
    }

    .project-text{
        width:calc(100% - 100px);
    }
  }

  @media only screen and (max-width:350px){
    .proj-title{
        font-size:1.2em;
    }
    
    
    .codetag{
    
        font-size:8px;
        padding:0.1em;
    }
    
    .li-desc{
        font-size:13px;
    }

    .project-image{
        width:0px
    }

    .project-text{
        width:calc(100%);
        padding:0.5em;
    }

    .project-container{
        padding-top:12em;
        padding-bottom:4em;
    }
  }

  @media only screen and (max-height: 600px) {
    /* For desktop: */
    .project-container{
        padding-top:5em;
        padding-bottom:1em;
    }
    
  }

  @media only screen and (max-width:250px){
    .proj-title{
        font-size:1em;
    }
    
    
    .codetag{
    
        font-size:10px;
    }
    
    .li-desc{
        font-size:10px;
    }

    .project-image{
        width:0px
    }

    .project-text{
        width:calc(100%);
        padding:0.5em;
        font-size:10px;
    }

    .project-container{
        padding-top:14em;
        padding-bottom:4em;
    }
  }

  @media only screen and (max-height: 600px) {
    /* For desktop: */
    .project-container{
        padding-top:5em;
        padding-bottom:1em;
    }
    
  }


  