
.section{
    width:50vw;
    height:calc(100vh);
    float:left;
    transition: color 0.5s;
}


.home-container{
    height:calc(100vh);
    display:flex;
    transition: color 0.5s;
}

.title{
    font-family:Skills;
    line-height: 0.5em;
    font-size:20vw;
    text-align: right;
    position: relative;
    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    transition: color 0.5s;
}

.my-desc{
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    text-align: left;
    padding-right:30%;
    padding-left:5%;

}


.home-slide{
    position: absolute;
    width:50vw;
    height: 100vh;
    background-color:#191D34;
    transition: 0.5s;

  }

  .home-slide2{
    position: absolute;
    width:100vw;
    height: 50vh;
    background-color:red;
    transition: 0.5s;
    display:none;

  }
@media only screen and (max-width: 700px) {
    /* For desktop: */
    .section{
        width:100vw;
        height:50vh;
    }

    .my-desc{
        position: absolute;
        top: 90%;
        -ms-transform: translateY(-140%);
        transform: translateY(-140%);
    
    }

    .home-slide{
        display:none;
    }
    .home-slide2{
        width:100vw;
        height: 50vh;
        display:block;
        background-color:#191D34;
    
      }


  }

